
obj/Debug/netcoreapp3.1/September2020.dll
obj/Debug/netcoreapp3.1/September2020.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/September2020.pdb
bin/Debug/netcoreapp3.1/September2020.dll
.vs/September2020/v16/.suo
